* text=auto eol=lf

# Binary files should stay binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
*.svg binary
*.zip binary
*.tar.gz binary
*.gz binary
